@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.App {
  max-width: 1440px;
  height: 100vh;
  padding: 100px 138px;
  font-family: "Open Sans", sans-serif;
}
